<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pomodoro Timer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pomodoro Timer</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div id="clock">
      <strong>Current Time</strong>
      <p>{{ currentTime }}</p>
    </div>

    <div id="timer">
      <strong>{{ currentState }}</strong>
      <div class="timer-row">
        <p>{{ timerDisplay }}</p>
        <ion-icon name="create-outline" class="edit-icon" (click)="setPreferences()"></ion-icon>
      </div>
    </div>

    <ion-button (click)="startPomodoro()">Start</ion-button>
    <ion-button color="danger" (click)="resetPomodoro()">Reset</ion-button>
  </div>
</ion-content>