#container {
  text-align: center;
  margin-top: 20px;
}

#container p {
  font-size: 18px;
  margin-bottom: 10px;
}

#container strong {
  font-size: 24px;
  display: block;
  margin-bottom: 20px;
}

ion-button {
  margin: 10px 0; /* Add spacing between buttons */
  color: white; /* Ensure button text is visible */
}

ion-button[color="danger"] {
  background-color: red; /* Red background for Stop button */
}

ion-button[color="success"] {
  background-color: green; /* Green background for Reset button */
}