<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pomodoro Timer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="phone-container">
    <ion-button color="dark" class="exit-button" (click)="exitApp()">
      Exit
    </ion-button>
    <div id="container">
      <p><strong>Current Time: {{ currentTime }}</strong></p> <!-- Display current time -->
      <strong>{{ formatTime() }}</strong>
      <p>{{ isPomodoro ? 'Work Session' : 'Break Time' }}</p>
      <p><strong>Timer State: {{ timerLabel }}</strong></p> <!-- Display timer state -->
      <ion-button expand="block" color="primary" (click)="startPomodoro()" [disabled]="isRunning">
        <ion-icon name="play-outline"></ion-icon> Start
      </ion-button>
      <ion-button expand="block" color="danger" (click)="stopTimer()" [disabled]="!isRunning">
        <ion-icon name="pause-outline"></ion-icon> Stop
      </ion-button>
      <ion-button expand="block" color="tertiary" (click)="continueTimer()" [disabled]="isRunning || timer === 0">
        <ion-icon name="play-forward-outline"></ion-icon> Continue
      </ion-button>
      <ion-button expand="block" color="success" (click)="resetTimer()">
        <ion-icon name="refresh-outline"></ion-icon> Reset
      </ion-button>
    </div>
  </div>
</ion-content>
